img {
    width:200px;
}
body {
text-align: center;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
background-color: green;
height:1000px;
}


button {
    background-color: #04AA6D;
    color: white;
    margin: 8px 0;
    cursor: pointer;
    width: 20%;
    padding: 10px;}